html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

#inventory{
  border-radius: 12px;
}

body{
  background-color: black;
  height: 100%;
}

button{
  position: absolute;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: darkred;
  color: white;
  font-size: xx-large;
  border-style: none;
}